<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="./css/login/login.css">
    <link rel="icon" href="../assets/img/letra-k.png" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <div class="login-logo">
            <img src="../assets/img/kreativenofondo.png" alt="Logo" class="avatar">
        </div>
        
        <h1>Recuperar Contraseña</h1>
        
        <form id="forgotPasswordForm" class="login-form">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
            </div>
            
            <button class="login-button" type="submit">Enviar instrucciones</button>
            
            <div class="form-footer">
                <a href="login.html" class="forgot-password">Volver a iniciar sesión</a>
            </div>
        </form>
    </div>
    <div id="back-to-top" class="back-to-top">
        <a href="login.html" class="arrow">←</a>
    </div>
    
    <script src="./public/js/forgot-password.js"></script>
</body>
</html>
