<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../public/css/login/login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="icon"
      href="../../assets/img/letra-k.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="login-container">
      <div class="login-logo">
        <img
          src="../../assets/img/kreativenofondo.png"
          alt="Logo"
          class="avatar"
        />
      </div>

      <h1>Iniciar sesión</h1>

      <form class="login-form">
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="tucorreo@ejemplo.com"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="password-input-container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
            />
            <i class="bi bi-eye-slash hide-show" id="togglePassword"></i>
          </div>
        </div>

        <button class="login-button" type="submit">Iniciar sesión</button>

        <div class="form-footer">
          <div class="remember-me">
            <input type="checkbox" id="mantenerSesion" name="mantenerSesion" />
            <label for="mantenerSesion">Recordarme</label>
          </div>
          <a href="forgot-password.html" class="forgot-password"
            >Recuperar contraseña</a
          >
        </div>
      </form>
    </div>
    <div id="back-to-top" class="back-to-top">
      <a href="../index.php" class="arrow">←</a>
    </div>

    <div id="modalError-Login" class="modal">
      <div class="modal-content">
        <span id="cerrarModal" class="close">&times;</span>
        <h2 id="h2modalError-Login">Error</h2>
        <p id="mensajeError">Usuario o contraseña incorrectos</p>
      </div>
    </div>

    <script src="../public/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsencrypt@3.0.0-rc.1/bin/jsencrypt.min.js"></script>
  </body>
</html>
